html {
  height: 100%;
  width: 100%;
}

nav {
  display: inline-block;
  width: 80%;

  background-color: lightblue;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.twocolumngrid {
  display: grid;
  grid-template-columns: 40% 40%;
  ;
  grid-gap: 10px;
  margin: 10px;
  justify-content: space-between;
  align-items: normal;
  row-gap: inherit;
}

.twocolumngrid img {
  width: 100%;

}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

/*
ul {
  display: flex;
  justify-content: space-between;

}
*/
p {
  line-height: 30px;
}

img {
  margin-top: 10px;
}

header img {
  width: 10%;
  position: relative;
  top: 20px;
}


header {
  background-color: lightgrey;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  color: navy
}

footer {
  background-color: lightgrey;
}